* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif JP', serif;
}

.app {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  flex: 1 1 0;
  max-width: 300px;
  padding: 2rem 1rem;
  background-color: #FFEDDF;
}

.sidebar p {
  color: black;
  margin-top: 1rem;
  font-size: 0.8rem;
  text-align: center;
}

.sidebar img{
  border-radius: 50%;
  width: 60%;
  margin: auto;
  display: block;
  margin-bottom: 1rem;
}

.sidebar h3{
  text-align: center;
  color: black;
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.sidebar .menu {
  margin: 0 -1rem;
}

.sidebar .menu .menu-item {
  text-align: center;
  display: block;
  padding: 1em;
  color: black;
  text-decoration: none;
  transition: 0.2s linear;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
  color: #99C2A2;
  border-right: 5px solid #99C2A2;
}

.content {
  flex: 1 1 0;
  padding: 2rem;
}

.home-pg {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.0)), url(../imgs/ice_climbing_shot.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.home-pg h1 {
  color: white;
  font-size: 4rem;
  margin-top: 3rem;
}

.home-pg p {
  color: white;
  font-size: 1.25rem;
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 60px;
  height: 60px;
  border-radius: 99px;
  background-color: #2e3047;
  cursor: pointer;
}

.hamburger {
  position: relative;
  top: calc(50% - 2px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #FFF;
  transition-duration: .25s;
}

.hamburger > span::before {
  content: '';
  top: -8px;
}
.hamburger > span::after {
  content: '';
  top: 8px;
}

.menu-toggle.is-active .hamburger > span {
  transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}
@media (max-width: 1024px) {
  .sidebar {
    max-width: 200px;
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  .content {
    padding-top: 8rem;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    width: 100%;
    max-width: 300px;
    transition: 0.2s linear;
  }
  .sidebar.is-active {
    left: 0;
  }
}

.social-links {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  flex-direction:row;
}

.social-button {
  margin-right: 5px;
  margin-left: 5px;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  text-align: center;
  color: #99C2A2;
}

.social-button:hover {
  background-color: orange;
}

.about-page{
  background-color: #E98372;
  flex: 1 1 0;
  transform: translateX(100%);
}

.about-page h1{
  color: white;
  margin-top: 2rem;
  text-align: center;
}


.about-page p {
  color: white;
  text-align: center;
}

.move-left {
  transform: translateX(-100%);
}
