/* Removes the margin around the body so it fits to the edges */
body{
    height: 100%;
    overflow-y: hidden;
    margin: 0;
}

#board{
    margin:0;
    height: 100vh;
    width: auto;
    aspect-ratio: 1;
    float: left;
}


#ui{

    height:100vh;
    width: auto;
    box-shadow:0px 0px 0px 2px black inset;
    z-index: 500;

    background-color: #a65b00;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
    display: flex;
    flex-direction: column;
    align-items: center;
}

.white{
    background-color: #EFD9B4;
}

.black{
    background-color: #B68864;
}

.piece{
    display: block;
    background-color: transparent;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    object-fit:cover;
    height: 100%;
}

h1{
    margin: 0;
}

.board_container{
    height: 100vh;
    background: linear-gradient(113.9deg, rgb(255, 7, 7) -4.5%, rgb(255, 255, 5) 98.8%);
}



/* CSS */
.start-btn {
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;

  width: 30%;
  margin-top: auto;
}

.button-15:disabled {
  cursor: default;
  opacity: .3;
}

.button-15:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

.button-15:active {
  background-image: linear-gradient(#3D94D9, #0067B9);
  border-color: #006DBC;
  outline: none;
}

.button-15:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}

.ui-title{
    color: white;
    font-family: cursive;
    border-radius: 25px;
    border: 2px solid black;
    background-color: rgb(223, 202, 15);
    width: 95%;
}

.depth-slider
{
    margin-top: auto;
}

.slidecontainer {
    width: 60%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }